$gray: #222629;

@mixin titlebar($bg-color: #e6e9ed) {
  background-color: $bg-color;
  border-radius: 4px 4px 0 0;
  height: 100%;
  width: 100%;
  align-items: center;
}

@mixin titlebar-item {
  margin: 0.7em 0.4em;
  padding: 0.5em;
}

#tb-title {
  font-size: 1vw;
  user-select: none;
}

.macos {
  @include titlebar;
  padding: 0 0 0 0.5em;
  justify-content: flex-start !important;
  position: relative;
}

.windows {
  @include titlebar;
  justify-content: flex-end;

  .title {
    left: 0;
  }
}

.title {
  position: absolute;
  text-align: center;
  z-index: 1;
  font-size: 1.2em;
  width: 100%;
}

.square {
  @include titlebar-item;
  border-radius: 3px;
  border: 2px solid $gray;
}

.letter-x::before {
  @include titlebar-item;
  content: "X";
  color: $gray;
  vertical-align: middle;
}

.underscore::before {
  @include titlebar-item;
  content: "_";
  color: $gray;
  vertical-align: middle;
}

.button {
  @include titlebar-item;
  border-radius: 360px;
}

.circle {
  @include titlebar-item;
  border-radius: 360px;
}

@media (max-width: 912px) {
  #tb-title {
    font-size: 1.54vw;
  }
}

@media (max-width: 414px) {
  #tb-title {
    font-size: 3vw;
  }
}
