#code-window {
  width: 60vw;
  background-color: white;
  border-radius: 4px;
}

#code-window-bg {
  border-radius: 4px;
}

#editor {
  padding: 1em;
}

#lines {
  list-style: none;
  user-select: none;
  padding: 0 1em 0 0;
}

.button {
  border-radius: 360px;
  margin: 1vh 0.45vw;
  padding: 0.5vw;
}

.red {
  background-color: #ed5565;
}

.green {
  background-color: #48cfad;
}

.yellow {
  background-color: #ffce54;
}
