#code-window {
  width: 60vw;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 4px;
}

#code-window-bg {
  margin-top: 5em;
  background-color: #1565c0;
  padding: 5em;
  border-radius: 4px;
}

#editor {
  padding: 1em;
  font-size: 1.2vw;
}

#lines {
  list-style: none;
  user-select: none;
}

#lines li {
  margin-bottom: 0.17em;
}

.button {
  border-radius: 360px;
  margin: 1vh 0.45vw;
  padding: 0.5vw;
}

.red {
  background-color: #ed5565;
}

.green {
  background-color: #48cfad;
}

.yellow {
  background-color: #ffce54;
}
