#code-window {
  width: 62.5vw;
  border-radius: 4px;
}

#code-window-bg {
  border-radius: 4px;
}

#editor {
  padding: 1em;
  border-radius: 0 0 4px 4px;
}

.lines {
  list-style: none;
  user-select: none;
  padding: 0 1em 0 0;
}

@media (max-width: 414px) {
  #code-window {
    width: 90vw;
  }
}
