#settings-tab {
  width: 70vw;
}

.tab-item {
  margin-top: 1.5em;
  padding: 1em 5em;
}

@media (max-width: 820px) {
  #settings-tab {
    width: 85vw;
  }

  .tab-item {
    margin-top: 0.5m;
    padding: 1em 0;
  }
}

@media (max-width: 414px) {
  #settings-tab {
    width: 90vw;
  }

  .tab-item {
    padding: 0.4em;
  }
}
