$gray: #222629;

@mixin titlebar($bg-color: #e6e9ed) {
  background-color: $bg-color;
  border-radius: 4px 4px 0 0;
  height: 100%;
  width: 100%;
  align-items: center;
}

@mixin titlebar-item {
  margin: 0.7em 0.4em;
  padding: 0.5em;
}

.macos {
  padding: 0 0 0 0.5em;
  @include titlebar;
}

.windows {
  @include titlebar;
  justify-content: flex-end;
}

.square {
  @include titlebar-item;
  border-radius: 3px;
  border: 2px solid $gray;
  vertical-align: middle;
}

.letter-x::before {
  @include titlebar-item;
  content: "X";
  color: $gray;
  vertical-align: middle;
  font-style: bold;
}

.underscore::before {
  @include titlebar-item;
  content: "_";
  color: $gray;
  font-style: bold;
  vertical-align: middle;
}

.button {
  @include titlebar-item;
  border-radius: 360px;
}

.circle {
  @include titlebar-item;
  border-radius: 360px;
}

@media (max-width: 820px) {
  .circle {
    padding: 0.4em;
  }
}
