@mixin titlebar {
  background-color: #e6e9ed;
  border-radius: 4px 4px 0 0;
  padding: 0.25vh 0.5vw;
  height: 100%;
  width: 100%;
}

.macos-left-tb {
  @include titlebar;
  justify-content: flex-start;
}

.macos-right-tb {
  @include titlebar;
  justify-content: flex-end;
}

.button {
  border-radius: 360px;
  margin: 1vh 0.45vw;
  padding: 0.5vw;
}

.red {
  background-color: #ed5565;
}

.green {
  background-color: #48cfad;
}

.yellow {
  background-color: #ffce54;
}
