.mx-w {
  max-width: max-content;
}

.pd-s {
  padding: 0 1em 1em 1em;
}

.rounded-s {
  border-radius: 8px;
}

.al-l {
  align-items: flex-start;
}

.m-rs {
  margin-right: 0.5em;
}

.sp-b {
  justify-content: space-between;
}

.l-icon {
  font-weight: 600;
}

.fw-n {
  font-weight: normal;
}

.red {
  background-color: #ed5565;
}

.green {
  background-color: #48cfad;
}

.yellow {
  background-color: #ffce54;
}

.m-l {
  margin-left: 22vw;
}

.m-r {
  margin-right: 22vw;
}

@media (max-width: 820px) {
  .m-l {
    margin-left: 13vw;
  }
  .m-r {
    margin-right: 13vw;
  }
  .circle {
    padding: 0.4em;
  }
}
