@use "utils";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#header {
  font-size: 2.5vw;
  margin-top: 0.5em;
}

#project-link {
  margin-top: 1.5em;
  margin-left: 0.5em;
}

@media (max-width: 821px) {
  #header {
    font-size: 5vw;
  }
  #project-link {
    margin-top: 1.1em;
  }
}

@media (max-width: 414px) {
  #header {
    font-size: 6.5vw;
  }
  #project-link {
    margin-top: 0.5em;
  }
}
