@use "code-window";
@use "containers";
@use "labeled-icon";
@use "list";
@use "section";
@use "settings-tab";
@use "titlebar";
@use "utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#header {
  font-size: 2.5vw;
  margin-top: 0.5em;
}

#project-link {
  margin-top: 1.2em;
}

@media (max-width: 821px) {
  #header {
    font-size: 5vw;
  }
}

@media (max-width: 414px) {
  #header {
    font-size: 6.5vw;
  }
  #project-link {
    margin-top: 0;
  }
}
